<%=  render 'layouts/banner' %>
<div class="container">
  <h3 class="index-title">Drones for rent</h3>
  <div class="row">

<% @drones.each do |drone| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="hovereffect">
            <%= cl_image_tag drone.photo, height: 270, width: 360, crop: :fill %>
            <div class="overlay">
              <% if drone.available == true %>
                <a class="info available" href=<%= "#{drone_path(drone)}" %>>Available</a>
              <% else drone.available == false %>
                <a class="info unavailable" href=<%= "#{drone_path(drone)}" %>>Unavailable</a>
              <% end %>
            </div>
          </div>
          <article class="info">
            <div class="name">
              <h3><%= drone.name %></h3>
              <p><%= drone.brand %></p>
              <p><%= drone.owner.user_name %></p>
            </div>
            <div class="price">
              <h3>$<%= drone.price %><span class="pd"> per day</span></h3>
            </div>

          </article>
        </div>
      </div>
<% end %>
    </div>
  </div>

  <div id="map" style="width: 100%; height: 600px;" data-markers="<%= @markers.to_json %>"></div>

