<h2>My drones</h2>

<% @my_drones.each do |my_drone| %>
<div>
  <hr size=5px>
  <p>Name: <%= my_drone.name %></p>
  <p><%= cl_image_tag my_drone.photo, height: 270, width: 360, crop: :fill %>
</p>
  <p>Brand: <%= my_drone.brand %></p>
  <p>Battery: <%= my_drone.autonomy %></p>
  <p>Resolution: <%= my_drone.video %></p>
  <%= link_to "Delete", drone_path(my_drone), method: :delete, data: { confirm: "Are you sure?" } %>
</div>
<% end %>
