<div class="container">
  <h3 class="index-title">My Drones</h3>
    <% @my_drones.each do |my_drone| %>
    <div class="row row-eq-height drone-index">
      <div class="col-xs-12 col-md-4 left-pad">
        <%= cl_image_tag my_drone.photo, height: 270, width: 360, crop: :fill %>
      </div>
      <div class="col-xs-12 col-md-4 my-drone-details">
        <div class="drone-details">
          <div class="drone-name"><p class="drone-keys">Name: </p> <h4 class="my-title"><%= my_drone.name %></h4></div>
          <div class="drone-brand"><p class="drone-keys">Brand: </p><h4><%= my_drone.brand %></h4></div>
          <div class="drone-life"><p class="drone-keys">Battery life: </p><h4><%= my_drone.autonomy %></h4></div>
          <div class="drone-video"><p class="drone-keys">Video specs: </p><h4><%= my_drone.video %></h4></div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 drone-price">
        <h3>$<%= my_drone.price %><span class="pd"> per day</span></h3>
      </div>
      </div>
    <% end %>
</div>
